%h1 Search Beer
%ol
  -if @beers.count.zero?
    = "Noooope"
  -@beers.each do |beer|
    %li
      = beer.name 
      = beer.brand
      -if beer.votes.nil?
        = link_to "Vote!", vote_path(beer)
